<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>Project THT and KTTL</h1><br>

    <h2>Đăng ký</h2>

    <h6>*Hãy đảm bảo đủ diều kiện ánh sáng</h6>

    <input type="text" id="uid" name="uid" placeholder="Mã học sinh /giáo viên"><br><br>

    <input type="submit" id="snap" value="Nhấn để chụp và đăng kí"><br><br>

    <form method="post">
        <input type="submit" id="snap" value="Đăng nhập"><br><br>
    </form>
     
    <video id="video" width="640" height="480" autoplay></video>
    <canvas hidden id="canvas" width="640" height="480"></canvas>
    <div id="photos"></div>

    <script src="{{url_for('static', filename='js/camera.js')}}"></script>
    
</body>
</html>