<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        Pass moi: <input type="password" name="password" placeholder="New Pass"> <br> <br>
        Nhap lai pass moi <input type="password" name="re_enter_password" placeholder="Type again"> <br><br>
        <input type="submit" value="Doi mat khau">
    </form>
</body>
</html>